In [1]:
import numpy as np

In [4]:
import pandas as pd
import seaborn as sns

In [5]:
df=sns.load_dataset('tips')

In [6]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
import pickle

In [8]:
filename='file.pkl'

In [10]:
# serialize process
pickle.dump(df,open(filename,'wb'))

In [11]:
## unserelize

In [12]:
df=pickle.load((open(filename,'rb')))

In [13]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
dic_example={'first_name':'sid','last_name':'borgohain'}

In [15]:
pickle.dump(dic_example,open('test.pkl','wb'))

In [18]:
df=pickle.load((open('test.pkl','rb')))

In [20]:
df

{'first_name': 'sid', 'last_name': 'borgohain'}